.App {
  text-align: center;
}

.avatar {
  height: 69px;
  width: 69px;
  border-radius: 50%;
}

.comment-header {
  text-align: center;
  margin-top: auto;
}

body {
  font-family: ;
  margin: 0 auto;
  background: url("https://imgur.com/UblNCk5.jpg");
  background-size: cover;
}

.child {
  width: 210px;
  height: 400px;
  margin: 10px;
  float: left;
  opacity: 0.8;
  border: 1px solid white;
}
.mapcontainer {
  margin:0 auto;
  width: 85%;
}
.map-image{
  object-fit: cover;
  width: 210px;
  height: 400px;
}

#navbar {
  padding: 30px;
}

#inner {
  overflow: hidden;
  width: 2000px;
}

.logbutt{
  float: right;
  margin: 10px;
}
a {
  padding: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

a:hover {
  color: #646ec4
}